<% if (!index && !is_current("about", false) && theme.busuanzi_analytics){ %>
	<span id="busuanzi_container_page_pv">
	  <%= __('views.head') %><span id="busuanzi_value_page_pv"></span><%= __('views.footer') %>
	</span>
<% } %>